{% extends 'loggedin.html' %}
{% block title %} Book list {% endblock %}
{% block container%}
<div class="col-12">
  <div class="md-form active-cyan active-cyan-2 mb-3 col-lg-7 col col-md-10" >
    <form method="POST" action="{{url_for('search_page')}}">
      <input class="form-control" type="text" placeholder="Search" aria-label="Search" name="search">
    </form>
  </div>
</div>
  {% if books|length==0 %}
    <h2 style="color: white;">No books on page {{page}}</h2>
  {% else %}
    <ul class="list-group">
  	{% for book in books %}
	  	<li class="list-group-item"><h5><a href="{{url_for('details',isbn=book['isbn'])}}">{{book['id']}} - {{book['title']}} - {{book['author']}} ({{book['year']}})</a></h5></li>
    {% endfor %}
  </ul>
  {% endif %}
  {% block buttons %}
  {% endblock %}
{% endblock %}