{% extends "unloggedin.html"%}
{% block title %} Register {% endblock %}
{% block container %}
{% if not status == None %}
	<div class="alert alert-danger" role="alert">
		{{status}}
	</div>
{% endif %}
<div class="container form-man">
		<form method="POST" action="{{url_for('register')}}">
		<div class="form-group">
			<label for="username">Username</label>
			<input type="text" name="username" class="form-control col-md-7" id="username" placeholder="Username" required>
		</div>
		<div class="form-group">
			<label for="password">Password</label>
			<input type="password" name="password" class="form-control col-md-7" id="password" placeholder="Password" required>
		</div>
		<div class="form-group">
			<label for="confirm">Confirm password</label>
			<input type="password" name="confirm" id="confirm" class="form-control col-md-7" placeholder="Confirm password" required>
		</div>
		<div class="form-group">
			<label for="email">Email address</label>
			<input type="email" name="email" class="form-control col-md-7 " id="email" placeholder="Email address" required>
		</div>
		<button type="submit" class="btn btn-primary">Register</button>
	</form>
</div>
{% endblock %}