{% extends "book.html" %}
{% block buttons %}
<div class="row col-md-12 col-lg-12" style="padding: 10px;">
  	<div class="btn-group btn-group-lg" role='group'>
  		
  		<a type="button" class={% if page==1 %} 
  		"btn " {% else %}"btn btn-primary" 
  		href="{{url_for('books',page=page-1)}}"{% endif %}>Previous</a>
  		
  		<a type="button" class={% if books|length==0 or last['id']==books[-1]['id'] %}
  		"btn" disabled {% else %}"btn btn-primary" 
  		href="{{url_for('books',page=page+1)}}"{% endif %}>Next</a>
  	
  	</div>
  </div>
{% endblock %}